<ion-header>
  <ion-toolbar>
    <ion-title>View Booking Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/><br/>
    <ion-label class="ion-text-center">
      <p style="font-size:large; color: white;">The following information corresponds with the selected booking</p>
    </ion-label>
    <br/>

     <ion-item >
        <ion-label class="ion-text-left">Venue:</ion-label>
        <ion-label class="ion-text-right">{{bookingAttendance.schedule.venue.name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-left">Lesson:</ion-label>
      <ion-label class="ion-text-wrap ion-text-right">{{bookingAttendance.schedule.name}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-left">Time:</ion-label>
    <ion-label class="ion-text-right">{{bookingAttendance.schedule.startDateTime | date:'y, MMM d, h:mm a' }} - {{bookingAttendance.schedule.endDateTime | date:'h:mm a' }} </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-left">Price:</ion-label>
  <ion-label class="ion-text-right">{{bookingAttendance.schedule.bookingPriceHistory[bookingAttendance.schedule.bookingPriceHistory.length-1].amount | currency:'ZAR' }} </ion-label>
</ion-item>
    <br>
    <ion-button color="light" class="ion-float-right" style="margin-left:10%;width: 20%;" (click)="this.global.dismissModal()">Return</ion-button>
</ion-content>
