<ion-header>
  <ion-toolbar>
    <ion-title>Edit Sale Item Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="uSaleItemForm" (ngSubmit)="submitForm()">
    <br/>
    <div class="ion-text-center">
      <p style="font-size:large">Please update the sale item information below</p>
    </div>
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="itemName" type="text" required="" id="itemName" ></ion-input>
      <br/>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.itemName.errors?.required && uSaleItemForm.get('itemName').touched">
      Name is required<br/>
    </span>
    <ion-item>
      <ion-label position="floating">Description:</ion-label>
      <ion-textarea formControlName="itemDescription" type="text" required="" id="itemDescription" ></ion-textarea>
      <br/>
    </ion-item>

    <span class="error ion-padding" *ngIf="errorControl.itemDescription.errors?.required && uSaleItemForm.get('itemDescription').touched">
      Description is required<br/>
    </span>

    <ion-item *ngIf="saleItem.photo != null">
      <ion-label>
        <img src="{{this.global.createImg(saleItem.photo)}}">
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>Photo:</ion-label>
        <input (change)="addImage($event)" type="file" id="file-input" accept="image/png, image/jpeg">
    </ion-item>


    <ion-item>
      <ion-label position="floating">Sale Category:</ion-label>
      <ion-select formControlName="itemSCategory" type="text" required="" id="itemSCategory" >
        <ng-container *ngFor="let c of this.categoryDropDown">
          <ion-select-option value="{{c.saleCategoryID}},{{c.name}}">{{ c.name }}</ion-select-option>
        </ng-container>
      </ion-select>
      <br/>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.itemSCategory.errors?.required && uSaleItemForm.get('itemSCategory').touched">
      Category is required <br/>
     </span>


    <ion-item>
      <ion-label>
       <p>Is this item quotable? <ion-checkbox formControlName="itemQuotable" (ionChange)="checkBoxToggle($event)" color="secondary" ></ion-checkbox></p>
      </ion-label>
    </ion-item>

    <div *ngIf="!this.quotable">
      <ion-item>
        <ion-label position="floating">Cost:</ion-label>
        <ion-input type="number" formControlName="itemCost" type="number" required="" id="itemCost" ></ion-input>
        <br/>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.itemCost.errors?.required && uSaleItemForm.get('itemCost').touched">
       Cost is required <br/>
      </span>
      <span class="error ion-padding" *ngIf="errorControl.itemCost.errors?.min && uSaleItemForm.get('itemCost').touched">
       Cost must be greater than 0<br/>
      </span>
      <ion-item>
        <ion-label position="floating">Price:</ion-label>
        <ion-input type="number" formControlName="itemPrice" type="number" required="" id="itemPrice" ></ion-input>
        <br/>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.itemPrice.errors?.required && uSaleItemForm.get('itemPrice').touched">
       Price is required <br/>
      </span>
      <span class="error ion-padding" *ngIf="errorControl.itemPrice.errors?.min && uSaleItemForm.get('itemPrice').touched">
       Price must be greater than 0<br/>
      </span>
      <ion-item>
        <ion-label position="floating">Quantity:</ion-label>
        <ion-input formControlName="itemQuantity" type="number" required="" id="itemQuantity" ></ion-input>
        <br/>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.itemQuantity.errors?.required && uSaleItemForm.get('itemQuantity').touched">
       Quantity is required <br/>
      </span>
      <span class="error ion-padding" *ngIf="errorControl.itemQuantity.errors?.min && uSaleItemForm.get('itemQuantity').touched">
       Quantity must be greater than 0<br/>
      </span>
    </div>

    <br>
    <br>
    <ion-button type="submit" color="secondary" [disabled]="!uSaleItemForm.valid" class="ion-float-right" style="margin-left:2%; margin-right:10%; width:55% ;">Update Sale Item</ion-button>
    <ion-button color="light" class="ion-float-left" style="margin-left:10%;width: 20%;" (click)="this.global.dismissModal()">Cancel</ion-button>
  </form>
</ion-content>

