<ion-header>
  <ion-toolbar>
    <ion-title>New VAT Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--This modal is not complete, please check if it displays like "AddVenue"-->
<!--Check the SCSS, TS AND HTML-->

<ion-content>
<form [formGroup]="cVATForm" (ngSubmit)="submitForm()"> 
  <br/>
  <div class="ion-text-center">
    <p style="font-size:large">Please fill in the VAT information below</p>
  </div>
  <ion-item>
    <ion-label position="floating">Percentage:</ion-label>
    <ion-input formControlName="percentage" type="number" required="" id="percentage" ></ion-input>
    <br/>
  </ion-item>
  <span class="error ion-padding" *ngIf="errorControl.percentage.errors?.required && cVATForm.get('percentage').touched">
    Percentage is required<br/>
  </span>
<span class="error ion-padding" *ngIf="errorControl.percentage.errors?.min">
  Percentage must be greater than 0
  <br/>
</span>
<span class="error ion-padding" *ngIf="errorControl.percentage.errors?.max">
  Percentage must be less than 100
  <br/>
</span>
  <br/><br/>

  <ion-button type="submit" color="success" [disabled]="!cVATForm.valid" class="ion-float-right" style="margin-left:2%; margin-right:10%; width:55% ;">Create VAT</ion-button>
  <ion-button color="light" class="ion-float-left" style="margin-left:10%;width: 20%;" (click)="this.global.dismissModal()">Cancel</ion-button>
  
</form>
</ion-content>

