<ion-header>
  <ion-toolbar>
    <ion-title>New Exercise Category Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="cExerciseCategoryForm" (ngSubmit)="submitForm()">
    <br/>
    <div class="ion-text-center">
      <p style="font-size:large">Please fill in the exercise category information below</p>
    </div>
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="exerciseCategoryName" type="text" required="" id="exerciseCategoryName" ></ion-input>
      <br/>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.exerciseCategoryName.errors?.required && cExerciseCategoryForm.get('exerciseCategoryName').touched">
      Name is required<br/>
    </span>
    <ion-item>
      <ion-label position="floating">Description:</ion-label>
      <ion-textarea formControlName="exerciseCategoryDescription" type="text" required="" id="exerciseCategoryDescription" ></ion-textarea>
      <br/>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.exerciseCategoryDescription.errors?.required && cExerciseCategoryForm.get('exerciseCategoryDescription').touched">
      Description is required<br/>
    </span>
    <br>
    <br>
    <ion-button type="submit" color="success" [disabled]="!cExerciseCategoryForm.valid" class="ion-float-right" style="margin-left:2%; margin-right:10%; width:55% ;">Create Exercise Category</ion-button>
    <ion-button color="light" class="ion-float-left" style="margin-left:10%;width: 20%;" (click)="this.global.dismissModal()">Cancel</ion-button>

  </form>
</ion-content>

