<ion-header>
  <ion-toolbar>
    <ion-title>View "{{saleItem.name}}"</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <div class="ion-text-center">
    <p style="font-size:large; color: white;margin-left: 10%;margin-right: 10%;">The following information corresponds with the selected sale item</p>
    <ion-item >
      <ion-label class="ion-text-left">Name:</ion-label>
      <ion-label class="ion-text-right">{{saleItem.name}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="ion-text-left">Description:</ion-label>
      <ion-label class="ion-text-wrap ion-text-right">{{saleItem.description}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label>
        <img [src]="this.global.createImg(saleItem.photo)">
      </ion-label>
    </ion-item>


      <ion-item >
        <ion-label class="ion-text-left">Quotable:</ion-label>
        <ion-label class="ion-text-right">{{saleItem.quotable}}</ion-label>
      </ion-item>

      <ion-item *ngIf="saleItem.quotable == false">
        <ion-label class="ion-text-left">Quantity:</ion-label>
        <ion-label class="ion-text-right">{{saleItem.quantityOnHand}}</ion-label>
      </ion-item>


      <ion-item *ngIf="saleItem.quotable == false">
        <ion-label class="ion-text-left">Price:</ion-label>
        <ion-label class="ion-text-right">R{{saleItem.priceHistory[0].saleAmount}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-left">Sale Category:</ion-label>
        <ion-label class="ion-text-right">{{saleItem.saleCategory.name}}</ion-label>
      </ion-item>
      <br/><br/>
  </div>
  <br>
  <ion-button color="light" class="ion-float-right" style="margin-right:10%;width:30% " (click)="this.global.dismissModal()">Return</ion-button>
</ion-content>
