ion-title {
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

span {
    color : danger;
    font-size: large;
    padding-bottom: 20px;
    margin-left: 12%; 
}

ion-item {
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}