#supplierAddress {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 19px;
}

#addresslabel {
    overflow: visible !important;
}