<ion-searchbar expand="block" placeholder='Search Sale Item...' [(ngModel)]="filter"
animated="true" debounce="200"></ion-searchbar>

<div class="ion-text-center">
  <ion-button class="ion-text-center"color="success" (click)="saleService.addSaleItemInfoModal()">
    Add Sale Item
  </ion-button>
</div>

<div class="ion-text-center " *ngIf="isLoading">
  <ion-spinner name="circles"></ion-spinner>
</div>

<ion-content>
  <ion-grid>
    <ion-row class="flex-wrap">
      <ion-col class='ion-align-self-start ' sizeLg="3" sizeMd="3" sizeXs="6" *ngFor="let saleItem of saleItemList"
        class="listMargin">
        <ion-card>
          <h5 class="ion-align-self-center">{{saleItem.name}}</h5>

          
          <ion-card-content class="card-body card-buttons">
            <div class="img-wrapper">
              <img class="img-wrapper" (click)="saleService.viewSaleItemInfoModal(saleItem)" [src]="this.global.createImg(saleItem.photo)" alt="sale item image">
            </div>

            <ion-row class="row align-items-center no-gutters">

              <ion-col class="column-buttons">
                <ion-button (click)="saleService.deleteSaleItemInfoModal(saleItem)"  color="danger"  expand="block" >Delete</ion-button>
              </ion-col>

              <ion-col>
                <ion-button (click)="saleService.updateSaleItemInfoModal(saleItem)"  color="success"  expand="block">Update</ion-button>
              </ion-col>

            </ion-row>

            <div *ngIf="saleItem.quotable !== true">
              <ion-row class="row align-items-center no-gutters">
                <ion-col class="column-buttons">
                  <ion-button (click)="inventoryService.addWriteOffInfoModal(saleItem)"  color="warning"  expand="block" >Write-Off</ion-button>
                </ion-col>
              </ion-row>
            </div>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <ion-infinite-scroll threshold="110px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading Sale Items...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


</ion-content>
