// ion-button{
//     margin-left:30%;
//     margin-right:30%
// }

.fifty {
    width: 100% !important;
}

.hundred {
    width: 100% !important;
}

.margin-bottom{
    margin-bottom: 10%;
  }

ion-searchbar{
    --background : white;
    --color: #221f1f;
    --clear-button-color : #ff5b71;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

img {
    width: 100% !important;
    max-height: 514px;
    max-width: 514px;
    height: 35vh !important;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.centerimg {
    width: 100%
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    vertical-align: middle;
    margin-top: 5%;
  }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }



  .img-wrapper {
    min-height: 100px;
    min-width: 120px;
    width: 100%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1%;
}

ion-card {
    display: inline-flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    height: 300px;

    max-height: 730px;
    max-width: 514px;
}

.align-items-center {
    align-items: center!important;
  }


