<ion-content>

  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <h1 style="font-family: inherit; border:1px">CREATE PASSWORD</h1>
      </div>
      <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)">

        <div padding>

          <ion-item>
            <ion-icon name="key" slot="start" color="#282828"></ion-icon>
            <ion-icon [name]="n1 ? 'eye-outline':'eye-off-outline'" slot="end" color="#282828" (click)="n1Toggle()"></ion-icon>
            <ion-input 
            [type]="n1 ? 'password' : 'text'"
            name="newpassword" 
            ngModel 
            #passCtrl="ngModel" 
            placeholder="Password" 
            required 
            minlength="8"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!passCtrl.valid && passCtrl.touched">
            <p>New password should be minimum of 8 characters</p>
          </ion-text>

          <div>
            <ion-item>
              <ion-icon name="key" slot="start" color="#282828"></ion-icon>
              <ion-icon [name]="n2 ? 'eye-outline':'eye-off-outline'" slot="end" color="#282828" (click)="n2Toggle()"></ion-icon>
              <ion-input 
              [type]="n2 ? 'password' : 'text'"
              name="cnewpassword" 
              ngModel 
              #c_passCtrl="ngModel" 
              placeholder="Confirm Password" 
              required 
              minlength="8"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!c_passCtrl.valid && c_passCtrl.touched">
              <p>Confirm Password should be minimum of 8 characters</p>
            </ion-text>
            <ion-text color="danger" *ngIf="c_passCtrl.valid && c_passCtrl.value !== passCtrl.value">
              <p>Password entered do not match.</p>
            </ion-text>
          
          </div>

          
        </div>

        <div>

          <br/>
          
          <ion-button [disabled]="!logForm.valid" *ngIf="!isLoggedin" expand="block" shape="round" type="submit">Create</ion-button>
          
          <br/>

          <ion-text color="danger" align="center" *ngIf="error">
            <p>{{errormsg}}</p>
            <br />
          </ion-text>

        </div>  

      </form>

    </ion-card-content>
  </ion-card>
</ion-content>


