ion-button{
    margin-left:30%;
    margin-right:30%
}

ion-searchbar{
    --background : white;
    --color: #221f1f;
    --clear-button-color : #554f50;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

ion-card {
    background-color: white;
    border-radius: 50px;
}

ion-button {
    border-radius : 10px;
    width : 15%;
}


