<ion-header>
  <ion-toolbar>
    <ion-title>View "{{exerciseCategory.name}}"</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <div class="ion-text-center">
    <p style="font-size:large; color: white;margin-left: 10%;margin-right: 10%;">The following information corresponds with the selected exercise category</p>

    <ion-item >
      <ion-label class="ion-text-left">Name:</ion-label>
      <ion-label class="ion-text-right">{{exerciseCategory.name}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="ion-text-left">Description:</ion-label>
      <ion-label class="ion-text-right ion-text-wrap">{{exerciseCategory.description}}</ion-label>
    </ion-item>
    <p *ngIf="exerciseCategory.exercises.length > 0" style="font-size:large; color: white;margin-left: 10%;margin-right: 10%;">The following exercise/s are associated with the selected exercise category</p>
    <div *ngFor="let item of exerciseCategory.exercises">
      <ion-item >
        <ion-label class="ion-text-left">Name:</ion-label>
        <ion-label class="ion-text-right">{{item.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-left">Description:</ion-label>
        <ion-label class="ion-text-right ion-text-wrap">{{item.description}}</ion-label>
      </ion-item>
      <br/>
    </div>
  </div>
  <br>
  <ion-button color="light" class="ion-float-right" style="margin-right:10%;width:30% " (click)="this.global.dismissModal()">Return</ion-button>
</ion-content>
