<ion-header>
  <ion-toolbar>
    <ion-title>Update Employee</ion-title>
    <ion-buttons slot="end">
      <!--(click)="dismissModal()-->
      <ion-button color="tertiary" (click)="dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="cEmployeeForm" (ngSubmit)="submitForm()">

    <br/>

    <div class="ion-text-center">
      <p style="font-size:large">Please update the Employee information below.</p>
    </div>

    <ion-item>
      <ion-label position="stacked">Profile Photo:</ion-label>
      <!-- <app-file-upload formControlName="photo"></app-file-upload> -->
      <input #photo (change)="addPhoto($event)" formControlName="photo" type="file" id="photo">
    </ion-item>
    <span class="error ion-padding"
      *ngIf="photoFlag && errorControl.photo.errors && cEmployeeForm.get('photo').touched">
      Please submit .png, .jpg or .jpeg
      <br />
    </span>

    <ng-container *ngIf="!noProfile">

      <ion-item *ngIf="!removedImage && validPhoto">
        <ion-row>
          <ion-col size="12">
            <ion-img src="{{imgSrc}}" (click)="photo.click()"></ion-img>
          </ion-col>
        </ion-row>
      </ion-item>
      
      <ion-item>
          <ion-row>
            <ng-container *ngIf="!removedImage && employee.data.photo">
              <ion-col size="6">
                <ion-button id="restore" [disabled]="!newPhoto || deletePhoto" (click)="restoreImage()" color="primary">Restore</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button id="remove" (click)="removeImage()" color="danger">Remove</ion-button>
              </ion-col>
            </ng-container>
            <ion-col size="12" *ngIf="removedImage || employee.data.photo === null">
              <ion-button id="restore" (click)="restoreImage()" color="primary">Restore</ion-button>
            </ion-col>
          </ion-row>
      </ion-item>
      
    </ng-container>
    <!-- user had no pf image -->
    <ng-container *ngIf="noProfile && newPhoto">
      <ion-item *ngIf="!removedImage && validPhoto">
        <ion-row>
          <ion-col size="12">
            <ion-img src="{{imgSrc}}" (click)="photo.click()"></ion-img>
          </ion-col>
        </ion-row>
      </ion-item>
      
      <ion-item>
          <ion-row>
              <ion-col size="12">
                <ion-button id="remove" (click)="removeImage()" color="danger">Remove Image</ion-button>
              </ion-col>
          </ion-row>
      </ion-item>
    </ng-container>

    <span class="error ion-padding" *ngIf="errorControl.photo.errors?.required && cEmployeeForm.get('photo').touched">
      Employee photo is required.<br />
    </span>

    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="name" type="text" id="name"></ion-input>
      <br />
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.name.errors?.required && cEmployeeForm.get('name').touched">
      First name is required.
      <br />
    </span>

    <ion-item>
      <ion-label position="floating">Surname:</ion-label>
      <ion-input formControlName="surname" type="text" id="surname"></ion-input>
      <br />
    </ion-item>
    <span class="error ion-padding"
      *ngIf="errorControl.surname.errors?.required && cEmployeeForm.get('surname').touched">
      Surname is required.
      <br />
    </span>

    <ion-item>
      <ion-label position="floating">ID Number:</ion-label>
      <ion-input formControlName="idNumber" type="text" id="idNumber"></ion-input>
      <br />
    </ion-item>
    <span class="error ion-padding"
      *ngIf="errorControl.idNumber.errors && cEmployeeForm.get('idNumber').touched">
      Please enter a valid ID Number (13 digits)
      <br />
    </span>

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input formControlName="email" type="email" id="email"></ion-input>
      <br />
    </ion-item>
    <span class="error ion-padding"
      *ngIf="errorControl.email.errors?.email && cEmployeeForm.get('email').touched">
      Please enter a valid email address
      <br />
    </span>
    <span class="error ion-padding"
      *ngIf="errorControl.email.errors?.required && cEmployeeForm.get('email').touched">
      Please enter an email address
      <br />
    </span>

    <ion-item>
      <ion-label position="floating">Phone Number:</ion-label>
      <ion-input formControlName="phone" type="text" id="phone"></ion-input>
      <br />
    </ion-item>

    <ion-item>
      <ion-label position="floating">Title:</ion-label>
      <ion-select formControlName="titleId" type="text" required="" id="titleId" >
          <ion-select-option *ngFor="let title of titleList" value="{{title.titleID}},{{title.description}}">{{ title.description }}</ion-select-option>
      </ion-select>
      <br/>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Employee Type:</ion-label>
      <ion-select formControlName="employeeTypeId" type="text" required="" id="employeeTypeId" >
          <ion-select-option *ngFor="let et of employeeTypeList" value="{{et.employeeTypeID}},{{et.name}}">{{ et.name }}</ion-select-option>
      </ion-select>
      <br/>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Qualification:</ion-label>
      <ion-select  formControlName="qualificationId" type="text" required="" id="qualificationId" >
          <ion-select-option *ngFor="let qua of qualificationList" value="{{qua.qualificationID}},{{qua.description}}">{{ qua.description }}</ion-select-option>
      </ion-select>
      <br/>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Role:</ion-label>
      <ion-select formControlName="role" id="role" >
          <ion-select-option *ngFor="let role of roles" value="{{role.value}}">{{ role.role }}</ion-select-option>
      </ion-select>
      <br/>
    </ion-item> -->
    
    <!-- employee contract file input here: -->
    <ion-item>
      <ion-label position="stacked">Contract:</ion-label>
      <!-- <app-file-upload formControlName="photo"></app-file-upload> -->
      <ion-input (change)="addContract($event)" formControlName="contract" type="file" id="contract"></ion-input>
    </ion-item>
    <span class="error ion-padding"
      *ngIf="errorControl.contract.errors && cEmployeeForm.get('contract').touched">
      Please submit a .pdf
      <br />
    </span>

    <ion-item>
      <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
                [original-size]="false"
                ></pdf-viewer>
    </ion-item>
    <ion-item>
          <ion-row>
              <ion-col size="12">
                <ion-button id="restore" [disabled]="!newContract" (click)="restoreContract()" color="primary">Restore Original</ion-button>
              </ion-col>
          </ion-row>
      </ion-item>

    <!-- <ion-button (click)="submitForm()" expand="block" color="success" [disabled]="cEmployeeForm.invalid">Update Employee</ion-button> -->
      <div class="center">
        <ion-row class="width-80">
          <ion-col>
            <ion-button class="btn-100" color="light" (click)="this.global.dismissModal()">Cancel</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="btn-100" (click)="submitForm()" color="secondary">Update Employee</ion-button>
          </ion-col>
        </ion-row>
      </div>

  </form>
</ion-content>
