ion-title {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
}

ion-item, ion-button{
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}

.width-80 {
    width: 80% !important;
    justify-self: center;
}

.btn-100 {
    width: 100% !important;
    margin-left: 0%;
    margin-right: 0%;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

#restore {
    margin-left: 10%;
    margin-right: 10%;
}

#remove {
    margin-left: 10%;
    margin-right: 10%;
}

.center {
    text-align: center;
}

span {
    color : tertiary;
    font-size: large;
    margin-left: 12%;  
}

ion-img {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 200px;
}

pdf-viewer {
    width: 100%;
    height: 400px;
    margin-top: 4%;
    margin-bottom: 4%;
}

ion-row {
    width: 100% !important;
}

ion-col {
    text-align: center;
}