ion-avatar {
    height: 30vh;
    width: 30vw;
    align-self: center;
    ion-img {
        height: 100%;
        width: 100%;
        }
}

ion-item {
    --background: white;
    --color: #363636;
}

ion-button {
    --background: #4570e9;
    --color: white;
}

ion-card {
    --background: #202020;
    --color: white; 
    // box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    // margin-left: 30%;
    // margin-right: 30%;
    margin : auto;
    margin-top: 15vh !important;
    max-width: 400px !important;
    width: 90vw;
}

h1 {
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}