ion-title {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
}

ion-item {
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-size : 110%;
}

span {
    color : danger;
    font-size: large;
    padding-bottom: 20px;
    margin-left: 12%; 
}
