<ion-header>
  <ion-toolbar>
    <ion-title>Edit Exercise Category Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="uExerciseCategoryForm" (ngSubmit)="submitForm()">
    <br/>
    <div class="ion-text-center">
      <p style="font-size:large">Please update the exercise category information below</p>
    </div>
    <ion-item>
      <ion-label position="stacked">Name:</ion-label>
      <ion-input formControlName="exerciseCategoryName"  type="text" required=""></ion-input>
      <br/>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.exerciseCategoryName.errors?.required">
      Name is required
      <br/>
    </span>

    <ion-item>
      <ion-label position="stacked">Description:</ion-label>
      <ion-textarea formControlName="exerciseCategoryDescription"  type="text" required=""></ion-textarea>
      <br/>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.exerciseCategoryDescription.errors?.required">
      Description is required
      <br/>
    </span>

    <br><br/>
    <ion-button type="submit" color="secondary" [disabled]="!uExerciseCategoryForm.valid" class="ion-float-right" style="margin-left:2%; margin-right:10%; width:55% ;">Update Exercise Category</ion-button>
    <ion-button color="light" class="ion-float-left" style="margin-left:10%;width: 20%;" (click)="this.global.dismissModal()">Cancel</ion-button>
  </form>
</ion-content>
