<ion-header>
  <ion-toolbar>
    <ion-title>Delete Sale Category Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="this.global.dismissModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/><br/>
    <ion-label class="ion-text-center">
      <p style="font-size:large; color: white;">Are you sure you want to delete the following sale category?</p>
    </ion-label>
    <br/>

    <ion-item > 
      <ion-label class="ion-text-left">Name: </ion-label>
      <ion-label class="ion-text-right">{{saleCategory.name}}</ion-label>
    </ion-item>
    <ion-item > 
      <ion-label class="ion-text-left">Description: </ion-label>
      <ion-label class="ion-text-wrap ion-text-right">{{saleCategory.description}}</ion-label>
    </ion-item>


    <br>
    <ion-button expand="block" type="ion-button" (click)="delete(saleCategory.saleCategoryID)" color="danger" class="ion-float-right" style="margin-left:2%; margin-right:10%; width:55% ;">Delete Sale Category</ion-button>
    <ion-button color="light" class="ion-float-left" style="margin-left:10%;width: 20%;" (click)="this.global.dismissModal()">Cancel</ion-button>
</ion-content>
