ion-title {
  font-family: 'Montserrat', sans-serif;;
  font-weight: 500;
}

ion-item {
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
}

span {
  color : tertiary;
  font-size: large;
  margin-left: 12%;
}
