ion-button {
    width : 100%;
}

.ion-padding {
    display : flex;
    justify-content: center;
}

ion-card {
    

    width: 380px;
}

.pdf {
    width: 100%;
    display: flex;
    justify-content: center;
}

ion-accordion {
    width: 100%;
}

ion-card-content {
    // margin-left: 25%;
    // margin-right: 25%;
}

#ind {
    height: 0px;
    width: 0px;
    opacity: 0;
}

.centerLogin {
}

.text-center {
    text-align: center;
}

#photo {
 display : flex;
 flex-direction: column !important;
}

pdf-viewer {
    width: 100%;
    max-width: 600px;
    min-width: 380px;
    height: 300px;
    margin-top: 4%;
    margin-bottom: 4%;
}
