<ion-header>
  <ion-toolbar mode="ios">
    <!--Menu toggle button that will display the menu-->
      <ion-buttons slot="start">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title slot="">Change Password</ion-title>
      <img src="../../assets/BSC.png" width="80px" height="80px" alt="logo" slot="end">
      <!--Can we change this dynamically when switching between tabs?-->
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-header>


<!--This image must be in the header with tabs-->
<!--<div class="ion-text-center ion-margin-bottom">
  <img width="200px" height="200px"src="../../assets/HIIT.jpeg"/>
</div>   -->

<ion-content>

  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
      </div>
      <BR/>
      <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)">

        <div padding>

          <ion-item>
            <ion-icon name="key" slot="start" color="#282828"></ion-icon>
            <ion-icon [name]="old ? 'eye-outline':'eye-off-outline'" slot="end" color="#282828" (click)="oldToggle()"></ion-icon>
            <ion-input [type]="old ? 'password' : 'text'" name="oldpassword" ngModel #oldpassControl="ngModel" placeholder="Current Password" required minlength="8"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!oldpassControl.valid && oldpassControl.touched">
            <p>Old should be minimum of 8 characters</p>
          </ion-text>

          <ion-item>
            <ion-icon name="key" slot="start" color="#282828"></ion-icon>
            <ion-icon [name]="n1 ? 'eye-outline':'eye-off-outline'" slot="end" color="#282828" (click)="n1Toggle()"></ion-icon>
            <ion-input 
            [type]="n1 ? 'password' : 'text'"
            name="newpassword" 
            ngModel 
            #passCtrl="ngModel" 
            placeholder="Password" 
            required 
            minlength="8"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!passCtrl.valid && passCtrl.touched">
            <p>New password should be minimum of 8 characters</p>
          </ion-text>

          <div>
            <ion-item>
              <ion-icon name="key" slot="start" color="#282828"></ion-icon>
              <ion-icon [name]="n2 ? 'eye-outline':'eye-off-outline'" slot="end" color="#282828" (click)="n2Toggle()"></ion-icon>
              <ion-input 
              [type]="n2 ? 'password' : 'text'"
              name="cnewpassword" 
              ngModel 
              #c_passCtrl="ngModel" 
              placeholder="Confirm Password" 
              required 
              minlength="8"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!c_passCtrl.valid && c_passCtrl.touched">
              <p>Confirm Password should be minimum of 8 characters</p>
            </ion-text>
            <ion-text color="danger" *ngIf="c_passCtrl.valid && c_passCtrl.value !== passCtrl.value">
              <p>Password entered do not match.</p>
            </ion-text>
          
          </div>

          
        </div>

        <div>

          <br/>
          
          <ion-button [disabled]="!logForm.valid" *ngIf="!isLoggedin" expand="block" shape="round" type="submit">Change Password</ion-button>
          
          <br/>
          <ion-text color="danger" align="center" *ngIf="fail">
            <p>Incorrect old password.</p>
            <br />
          </ion-text>
          <ion-text color="success" align="center" *ngIf="success">
            <p>Password updated successfully.</p>
            <br />
          </ion-text>

        </div>  

      </form>

    </ion-card-content>
  </ion-card>
</ion-content>


